body {
    background-color: crimson;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.interests {
    display: grid;
    grid-template-columns: auto;
}

.two-cell {
    display: grid;
    grid-template-columns: auto auto;
}